/*
 * TO Search
 */
body.archive-tour-operator #facetwp-sidebar, body.archive-tour-operator #secondary.facetwp-sidebar {
  font-size: 13px;
  margin-top: 50px !important; }
  @media only screen and (min-width: 768px) {
    body.archive-tour-operator #facetwp-sidebar, body.archive-tour-operator #secondary.facetwp-sidebar {
      margin-top: 0 !important; } }
  body.archive-tour-operator #facetwp-sidebar .title, body.archive-tour-operator #secondary.facetwp-sidebar .title {
    margin-top: 0; }
  body.archive-tour-operator #facetwp-sidebar .facetwp-type-checkboxes, body.archive-tour-operator #secondary.facetwp-sidebar .facetwp-type-checkboxes {
    margin-bottom: 30px; }
    body.archive-tour-operator #facetwp-sidebar .facetwp-type-checkboxes .facetwp-checkbox, body.archive-tour-operator #secondary.facetwp-sidebar .facetwp-type-checkboxes .facetwp-checkbox {
      text-decoration: underline; }
      body.archive-tour-operator #facetwp-sidebar .facetwp-type-checkboxes .facetwp-checkbox.checked, body.archive-tour-operator #secondary.facetwp-sidebar .facetwp-type-checkboxes .facetwp-checkbox.checked {
        font-weight: bold; }
  body.archive-tour-operator #facetwp-sidebar .facetwp-results .title, body.archive-tour-operator #secondary.facetwp-sidebar .facetwp-results .title {
    margin-bottom: 30px; }
  body.archive-tour-operator #facetwp-sidebar .facetwp-results .facetwp-counts, body.archive-tour-operator #secondary.facetwp-sidebar .facetwp-results .facetwp-counts {
    display: inline-block; }
  body.archive-tour-operator #facetwp-sidebar .facetwp-results .btn, body.archive-tour-operator #secondary.facetwp-sidebar .facetwp-results .btn {
    font-size: 15px;
    margin-left: 5px;
    line-height: 18px;
    padding-right: 10px !important;
    padding-left: 10px !important; }
    body.archive-tour-operator #facetwp-sidebar .facetwp-results .btn:after, body.archive-tour-operator #secondary.facetwp-sidebar .facetwp-results .btn:after {
      display: none; }
  body.archive-tour-operator #facetwp-sidebar .facetwp-form, body.archive-tour-operator #secondary.facetwp-sidebar .facetwp-form {
    margin-bottom: 30px; }
    body.archive-tour-operator #facetwp-sidebar .facetwp-form .search-field, body.archive-tour-operator #secondary.facetwp-sidebar .facetwp-form .search-field {
      line-height: 22px; }
    body.archive-tour-operator #facetwp-sidebar .facetwp-form .btn, body.archive-tour-operator #secondary.facetwp-sidebar .facetwp-form .btn {
      font-size: 15px;
      padding: 9px 10px !important;
      line-height: 26px; }
      body.archive-tour-operator #facetwp-sidebar .facetwp-form .btn:after, body.archive-tour-operator #secondary.facetwp-sidebar .facetwp-form .btn:after {
        display: none; }

body.archive-tour-operator #facetwp-top {
  margin-bottom: 30px; }

body.archive-tour-operator #facetwp-top .facetwp-sort, body.archive-tour-operator #facetwp-top .facetwp-per-page, body.archive-tour-operator #facetwp-bottom .facetwp-sort, body.archive-tour-operator #facetwp-bottom .facetwp-per-page {
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 10px; }

body.archive-tour-operator #facetwp-top .facetwp-facet-a_z, body.archive-tour-operator #facetwp-bottom .facetwp-facet-a_z {
  display: inline-block;
  font-size: 13px;
  margin-bottom: 10px; }
  @media only screen and (min-width: 992px) {
    body.archive-tour-operator #facetwp-top .facetwp-facet-a_z, body.archive-tour-operator #facetwp-bottom .facetwp-facet-a_z {
      margin-bottom: 0; } }
  body.archive-tour-operator #facetwp-top .facetwp-facet-a_z .facetwp-alpha.available, body.archive-tour-operator #facetwp-top .facetwp-facet-a_z .facetwp-alpha.selected, body.archive-tour-operator #facetwp-bottom .facetwp-facet-a_z .facetwp-alpha.available, body.archive-tour-operator #facetwp-bottom .facetwp-facet-a_z .facetwp-alpha.selected {
    text-decoration: underline; }

body.archive-tour-operator #facetwp-top .wp-pagenavi-wrapper.facetwp-custom, body.archive-tour-operator #facetwp-bottom .wp-pagenavi-wrapper.facetwp-custom {
  margin-top: 0 !important;
  text-align: left; }
  @media only screen and (min-width: 992px) {
    body.archive-tour-operator #facetwp-top .wp-pagenavi-wrapper.facetwp-custom, body.archive-tour-operator #facetwp-bottom .wp-pagenavi-wrapper.facetwp-custom {
      text-align: right; } }
  body.archive-tour-operator #facetwp-top .wp-pagenavi-wrapper.facetwp-custom .wp-pagenavi, body.archive-tour-operator #facetwp-bottom .wp-pagenavi-wrapper.facetwp-custom .wp-pagenavi {
    margin-left: 0;
    margin-right: 0; }
    body.archive-tour-operator #facetwp-top .wp-pagenavi-wrapper.facetwp-custom .wp-pagenavi a, body.archive-tour-operator #facetwp-top .wp-pagenavi-wrapper.facetwp-custom .wp-pagenavi .current, body.archive-tour-operator #facetwp-top .wp-pagenavi-wrapper.facetwp-custom .wp-pagenavi .extend, body.archive-tour-operator #facetwp-bottom .wp-pagenavi-wrapper.facetwp-custom .wp-pagenavi a, body.archive-tour-operator #facetwp-bottom .wp-pagenavi-wrapper.facetwp-custom .wp-pagenavi .current, body.archive-tour-operator #facetwp-bottom .wp-pagenavi-wrapper.facetwp-custom .wp-pagenavi .extend {
      margin-bottom: 0; }

body.archive-tour-operator .facetwp-template .nav-tabs {
  margin-bottom: 30px; }

body.archive-tour-operator .facetwp-template .tab-content #to-search-map {
  margin-bottom: 30px; }

body.archive-tour-operator .wrap #primary .wp-pagenavi-wrapper {
  margin: 50px 0 0 0; }
  body.archive-tour-operator .wrap #primary .wp-pagenavi-wrapper .lsx-breaker, body.archive-tour-operator .wrap #primary .wp-pagenavi-wrapper .pages {
    display: none; }
  body.archive-tour-operator .wrap #primary .wp-pagenavi-wrapper .wp-pagenavi {
    font-size: 15px; }
    body.archive-tour-operator .wrap #primary .wp-pagenavi-wrapper .wp-pagenavi span.current {
      background-color: #333;
      color: #fff;
      border-radius: 3px;
      border: 2px solid transparent !important; }

.to-search-form .input-group .field {
  display: inline-block;
  margin-right: 10px; }
  .to-search-form .input-group .field.combination-toggle.hidden {
    display: none; }
  .to-search-form .input-group .field .btn-dropdown {
    background: #fff !important;
    padding: 4px 24px;
    color: #555;
    border: 3px solid #ddd; }
  .to-search-form .input-group .field .search-field {
    min-width: 300px;
    float: none;
    padding: 8px 14px 10px; }
    .to-search-form .input-group .field .search-field.error {
      border-color: red; }
