/* TO Search */
@media (min-width: 768px) { .search .facetwp-sidebar.widget-area + .content-area, .archive .facetwp-sidebar.widget-area + .content-area { width: 66.66667%; } }

@media (min-width: 992px) { .search .content.role.row, .archive .content.role.row { margin-left: auto; margin-right: auto; }
  .search .facetwp-sidebar.widget-area, .archive .facetwp-sidebar.widget-area { padding: 0px 20px 20px 20px; margin-top: 4.25rem; max-width: 271px; margin-right: 5px; margin-left: 5px; }
  .search .facetwp-sidebar.widget-area + .content-area, .archive .facetwp-sidebar.widget-area + .content-area { margin-top: 4.25rem; width: 75%; max-width: 860px; padding-right: 20px; padding-left: 0; }
  .search .facetwp-sidebar.widget-area + .content-area .facetwp-template .lsx-to-archive-item, .archive .facetwp-sidebar.widget-area + .content-area .facetwp-template .lsx-to-archive-item { margin-top: 2.4rem; }
  .search .facetwp-sidebar.widget-area + .content-area .facetwp-bottom-row-1, .archive .facetwp-sidebar.widget-area + .content-area .facetwp-bottom-row-1 { margin-top: 2.4rem; } }

.to-search-form .input-group { width: 90%; }

.to-search-form .field { display: inline-block; float: right; margin-right: 0; margin-top: 10px; }

@media (min-width: 768px) { .to-search-form .field { margin-right: 10px; margin-top: 0; }
  .to-search-form .field:first-child { margin-right: 0; } }

.to-search-form .field.combination-toggle.hidden { display: none; }

.to-search-form .field .search-field { border-radius: 0 2px 2px 0; float: none; padding: 8px 14px 10px; width: 230px; }

@media (min-width: 768px) { .to-search-form .field .search-field { width: 400px; } }

.to-search-form .field .search-field.error { border-color: red; }

@media (max-width: 767px) { .to-search-form .field .btn { padding-right: 20px; padding-left: 20px; }
  .to-search-form .field .btn .fa { display: none; } }

@media (max-width: 767px) { .to-search-form .field .btn-dropdown { min-width: 230px; } }

.to-search-form .field.submit-button:nth-child(2) { margin-right: 0; }

.to-search-form .field.submit-button:nth-child(2) .btn { margin-right: -3px; }

@media (max-width: 767px) { .to-search-form .field.submit-button:nth-child(2) .btn { padding-left: 17px; } }

@media (max-width: 767px) { .to-search-form .field.submit-button:not(:nth-child(2)) .btn { min-width: 228px; } }

body.home .page-banner .to-search-form .input-group { margin: 0 auto; }

.wp-block-to-search-to-search-block .input-group { width: 100%; }

.wp-block-to-search-to-search-block .input-group .field { margin-bottom: 10px; margin-left: 10px; margin-right: 0; }

@media (max-width: 768px) { .wp-block-to-search-to-search-block .input-group .field { width: 100%; }
  .wp-block-to-search-to-search-block .input-group .field input, .wp-block-to-search-to-search-block .input-group .field button { width: 100%; min-width: 100%; } }

@media (max-width: 767px) { .search #primary.content-area { margin-top: 4.25rem; } }

.search #primary.content-area #facetwp-top .facetwp-sort-select { right: 10px; position: relative; }

.archive.archive-tour-operator .facetwp-sidebar.widget-area .facetwp-item, .search-results.archive-tour-operator .facetwp-sidebar.widget-area .facetwp-item, .search-no-results.archive-tour-operator .facetwp-sidebar.widget-area .facetwp-item { background: #FFFFFF; border-radius: 0; padding: 20px 12px; margin-bottom: 3px; }

.archive.archive-tour-operator .facetwp-sidebar.widget-area .facetwp-item:first-child, .search-results.archive-tour-operator .facetwp-sidebar.widget-area .facetwp-item:first-child, .search-no-results.archive-tour-operator .facetwp-sidebar.widget-area .facetwp-item:first-child { margin-top: 0; }

.archive.archive-tour-operator .facetwp-sidebar.widget-area .facetwp-item .facetwp-collapsed, .search-results.archive-tour-operator .facetwp-sidebar.widget-area .facetwp-item .facetwp-collapsed, .search-no-results.archive-tour-operator .facetwp-sidebar.widget-area .facetwp-item .facetwp-collapsed { display: -ms-flexbox; display: flex; -ms-flex-pack: justify; justify-content: space-between; }

.archive.archive-tour-operator .facetwp-sidebar.widget-area .facetwp-item .facetwp-collapsed button.facetwp-collapse, .search-results.archive-tour-operator .facetwp-sidebar.widget-area .facetwp-item .facetwp-collapsed button.facetwp-collapse, .search-no-results.archive-tour-operator .facetwp-sidebar.widget-area .facetwp-item .facetwp-collapsed button.facetwp-collapse { border: none; background: none; height: 100%; }

.archive.archive-tour-operator .facetwp-sidebar.widget-area .facetwp-item .facetwp-collapsed button.facetwp-collapse:before, .search-results.archive-tour-operator .facetwp-sidebar.widget-area .facetwp-item .facetwp-collapsed button.facetwp-collapse:before, .search-no-results.archive-tour-operator .facetwp-sidebar.widget-area .facetwp-item .facetwp-collapsed button.facetwp-collapse:before { content: ' '; font-family: FontAwesome; font-size: 15px; }

.archive.archive-tour-operator .facetwp-sidebar.widget-area .facetwp-item .facetwp-collapsed button.facetwp-collapse[aria-expanded="false"]:before, .search-results.archive-tour-operator .facetwp-sidebar.widget-area .facetwp-item .facetwp-collapsed button.facetwp-collapse[aria-expanded="false"]:before, .search-no-results.archive-tour-operator .facetwp-sidebar.widget-area .facetwp-item .facetwp-collapsed button.facetwp-collapse[aria-expanded="false"]:before { content: '\f067'; }

.archive.archive-tour-operator .facetwp-sidebar.widget-area .facetwp-item .facetwp-collapsed button.facetwp-collapse[aria-expanded="true"]:before, .search-results.archive-tour-operator .facetwp-sidebar.widget-area .facetwp-item .facetwp-collapsed button.facetwp-collapse[aria-expanded="true"]:before, .search-no-results.archive-tour-operator .facetwp-sidebar.widget-area .facetwp-item .facetwp-collapsed button.facetwp-collapse[aria-expanded="true"]:before { content: '\f068'; }

.archive.archive-tour-operator .facetwp-sidebar.widget-area .facetwp-facet, .search-results.archive-tour-operator .facetwp-sidebar.widget-area .facetwp-facet, .search-no-results.archive-tour-operator .facetwp-sidebar.widget-area .facetwp-facet { margin-bottom: 0; margin-top: 2rem; }

.archive.archive-tour-operator .facetwp-sidebar.widget-area .lsx-to-search-title, .search-results.archive-tour-operator .facetwp-sidebar.widget-area .lsx-to-search-title, .search-no-results.archive-tour-operator .facetwp-sidebar.widget-area .lsx-to-search-title { text-align: right; }

@media (min-width: 768px) { .archive.archive-tour-operator .facetwp-sidebar.widget-area .lsx-to-search-title, .search-results.archive-tour-operator .facetwp-sidebar.widget-area .lsx-to-search-title, .search-no-results.archive-tour-operator .facetwp-sidebar.widget-area .lsx-to-search-title { margin-top: 0; margin-bottom: 0; }
  .archive.archive-tour-operator .facetwp-sidebar.widget-area .lsx-to-search-title.lsx-to-search-title-results, .search-results.archive-tour-operator .facetwp-sidebar.widget-area .lsx-to-search-title.lsx-to-search-title-results, .search-no-results.archive-tour-operator .facetwp-sidebar.widget-area .lsx-to-search-title.lsx-to-search-title-results { padding-bottom: 2rem; } }

.archive.archive-tour-operator .facetwp-sidebar.widget-area .lsx-to-search-title .facetwp-counts, .search-results.archive-tour-operator .facetwp-sidebar.widget-area .lsx-to-search-title .facetwp-counts, .search-no-results.archive-tour-operator .facetwp-sidebar.widget-area .lsx-to-search-title .facetwp-counts { display: inline-block; }

.archive.archive-tour-operator .facetwp-sidebar.widget-area .facetwp-results .lsx-to-search-title, .search-results.archive-tour-operator .facetwp-sidebar.widget-area .facetwp-results .lsx-to-search-title, .search-no-results.archive-tour-operator .facetwp-sidebar.widget-area .facetwp-results .lsx-to-search-title { margin-bottom: 0; }

.archive.archive-tour-operator .facetwp-sidebar.widget-area .facetwp-results .input-group-btn, .search-results.archive-tour-operator .facetwp-sidebar.widget-area .facetwp-results .input-group-btn, .search-no-results.archive-tour-operator .facetwp-sidebar.widget-area .facetwp-results .input-group-btn { vertical-align: top; }

.archive.archive-tour-operator .facetwp-sidebar.widget-area .facetwp-type-slider .noUi-connect, .search-results.archive-tour-operator .facetwp-sidebar.widget-area .facetwp-type-slider .noUi-connect, .search-no-results.archive-tour-operator .facetwp-sidebar.widget-area .facetwp-type-slider .noUi-connect { box-shadow: none; }

.archive.archive-tour-operator .facetwp-sidebar.widget-area .facetwp-type-slider .noUi-target, .search-results.archive-tour-operator .facetwp-sidebar.widget-area .facetwp-type-slider .noUi-target, .search-no-results.archive-tour-operator .facetwp-sidebar.widget-area .facetwp-type-slider .noUi-target { background-color: #FFF; border-radius: 2px; box-shadow: none; padding: 0 15px; }

.archive.archive-tour-operator .facetwp-sidebar.widget-area .facetwp-form .search-field, .search-results.archive-tour-operator .facetwp-sidebar.widget-area .facetwp-form .search-field, .search-no-results.archive-tour-operator .facetwp-sidebar.widget-area .facetwp-form .search-field { width: 190px; height: 50px; border-width: 1px; }

@media (min-width: 768px) { .archive.archive-tour-operator .facetwp-sidebar.widget-area .facetwp-form .search-field, .search-results.archive-tour-operator .facetwp-sidebar.widget-area .facetwp-form .search-field, .search-no-results.archive-tour-operator .facetwp-sidebar.widget-area .facetwp-form .search-field { min-width: 120px; width: 100%; } }

@media (min-width: 1200px) { .archive.archive-tour-operator .facetwp-sidebar.widget-area .facetwp-form .search-field, .search-results.archive-tour-operator .facetwp-sidebar.widget-area .facetwp-form .search-field, .search-no-results.archive-tour-operator .facetwp-sidebar.widget-area .facetwp-form .search-field { min-width: 170px; width: 100%; } }

.archive.archive-tour-operator .facetwp-sidebar.widget-area .facetwp-form .btn.search-submit, .search-results.archive-tour-operator .facetwp-sidebar.widget-area .facetwp-form .btn.search-submit, .search-no-results.archive-tour-operator .facetwp-sidebar.widget-area .facetwp-form .btn.search-submit { padding-right: 20px; padding-left: 17px; height: 48px; box-shadow: -1px 1px 0 0 #0C7383; border-radius: 2px 0 0 2px; }

.archive.archive-tour-operator .facetwp-sidebar.widget-area .facetwp-form .btn.search-submit:before, .search-results.archive-tour-operator .facetwp-sidebar.widget-area .facetwp-form .btn.search-submit:before, .search-no-results.archive-tour-operator .facetwp-sidebar.widget-area .facetwp-form .btn.search-submit:before { font-size: 20px; font-weight: 200; }

.lsx-pagination-wrapper.facetwp-custom { margin-top: 2.4rem; }

@media (min-width: 768px) { .lsx-pagination-wrapper.facetwp-custom { margin-top: 0; } }

.lsx-pagination-wrapper.facetwp-custom .facetwp-page { margin: 0; padding: 0; }

.facetwp-type-alpha.facetwp-type-alpha { margin-bottom: 0; }

@media (min-width: 1200px) { .facetwp-type-alpha.facetwp-type-alpha { line-height: 40px; } }

.facetwp-type-alpha .facetwp-alpha { margin-left: 0; }

.facetwp-type-alpha .facetwp-alpha.available { transition: color 300ms ease; }

.facetwp-type-alpha .facetwp-alpha + .facetwp-alpha { margin-right: 5px; }

#facetwp-top .facetwp-top-row-1 { margin: 0; }

.facetwp-top-row-2 { margin-top: 12px; }

@media (min-width: 768px) { .facetwp-bottom-row-1 { margin-top: 4.25rem; } }

@media (min-width: 768px) { #facetwp-top .facetwp-sort, #facetwp-top .facetwp-per-page { float: right; } }

#facetwp-top .facetwp-sort:after, #facetwp-top .facetwp-per-page:after { content: '\f078'; color: #999999; position: relative; font-family: FontAwesome; font-size: 10px; top: 15px; }

@media (min-width: 768px) { .facetwp-pager { float: left; } }

@media (min-width: 768px) { .facetwp-sort + .facetwp-per-page { margin-right: 10px; } }

.facetwp-sort-select, .facetwp-per-page-select { -webkit-appearance: none; -moz-appearance: none; appearance: none; background: transparent; background-repeat: no-repeat; background-position-x: 0%; background-position-y: 50%; border-style: solid; border-width: 1px; box-shadow: none; display: inline-block; font-size: 14px; line-height: 1.25; min-width: 180px; height: 50px; padding: 0 15px; transition: all 150ms ease; width: auto; border-radius: 0; }

.facetwp-template .lsx-to-archive-header { margin-top: 4.25rem; }

.facetwp-template .row { margin-top: 0 !important; }

.facetwp-template .row .facetwp-loading-wrapper { width: 100%; text-align: center; padding: 24px; }

.facetwp-template .row .facetwp-loading-wrapper .facetwp-loading:before { font-size: 35px; }

.facetwp-template .row .lsx-to-archive-item:first-child { margin-top: 0 !important; }

@media (max-width: 767px) { .facetwp-template .row .lsx-to-archive-item { margin-bottom: 25px; } }

.facetwp-template .row.lsx-to-archive-template-grid .lsx-to-archive-item:nth-child(2), .facetwp-template .row.lsx-to-archive-template-grid .lsx-to-archive-item:nth-child(3) { margin-top: 0 !important; }

.facetwp-template > .no-results { margin-top: 4rem; }

.facetwp-template .nav.nav-tabs { -ms-flex-align: center; align-items: center; border: 0 none; display: -ms-flexbox; display: flex; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: nowrap; flex-wrap: nowrap; -ms-flex-pack: justify; justify-content: space-between; margin: 4.25rem 0; padding: 0; }

@media (min-width: 768px) { .facetwp-template .nav.nav-tabs { -ms-flex-pack: start; justify-content: flex-start; } }

.facetwp-template .nav.nav-tabs > li { float: none; margin-bottom: 0; width: 100%; }

@media (min-width: 768px) { .facetwp-template .nav.nav-tabs > li { width: auto; } }

.facetwp-template .nav.nav-tabs > li > a { background-color: transparent; border: 0 none; border-radius: 0; margin: 0; line-height: 50px; padding: 0; text-align: center; text-transform: uppercase; }

@media (min-width: 768px) { .facetwp-template .nav.nav-tabs > li > a { padding: 0 50px; } }

.facetwp-template .nav.nav-tabs > li > a:hover, .facetwp-template .nav.nav-tabs > li > a:focus { border: 0 none; }

.facetwp-template .lsx-to-archive-items .lsx-to-archive-item article .lsx-to-archive-content .lsx-to-archive-meta-data .lsx-to-meta-data-rooms, .facetwp-template .lsx-to-archive-items .lsx-to-archive-item article .lsx-to-archive-content .lsx-to-archive-meta-data .lsx-to-meta-data-special, .facetwp-template .lsx-to-archive-items .lsx-to-archive-item article .lsx-to-archive-content .lsx-to-archive-meta-data .lsx-to-meta-data-languages { display: none; }

.facetwp-template .lsx-to-archive-items .lsx-to-archive-item article .lsx-to-archive-content .lsx-to-archive-content-tagline { display: none; }

.facetwp-template article { position: relative; }

.facetwp-template article .lsx-label-post-type { padding: 3px 1rem; position: absolute; left: 15px; top: 10px; z-index: 1; color: #FFF; font-size: 12px; font-family: 'Noto Sans',sans-serif; font-weight: 300; background-color: #363636; }

.facetwp-template .lsx-to-archive-template-list .lsx-label-post-type { right: 10px; left: initial; }

@media (max-width: 767px) { .facetwp-filters-wrap { height: 100%; right: 0; margin: 0 !important; padding: 15px; position: fixed !important; overflow-x: visible; overflow-y: auto; top: 0; transform: translate(100%, 0); z-index: 7; } }

.ssm-overlay { background-color: rgba(0, 0, 0, 0.2); bottom: 0; display: none; right: 0; position: fixed; left: 0; top: 0; z-index: 5; }

.ssm-nav-is-open { overflow: hidden; }

.ssm-nav-is-open #secondary { z-index: 9999; }

.ssm-row-margin-bottom { margin-bottom: 4.25rem; }

.ssm-row-margin-top { margin-top: 4.25rem; }

.facetwp-slider-wrap { padding-bottom: 2.4rem; }

.facetwp-slider-label { font-size: 18px; }

.facetwp-hidden { display: none; }

.facetwp-toggle { cursor: pointer; }

.facetwp-checkbox { cursor: pointer; padding-right: 25px; position: relative; }

.facetwp-checkbox + .facetwp-checkbox { margin-top: 5px; }

.facetwp-checkbox:before { content: '\f096'; color: inherit; display: inline-block; font-family: 'FontAwesome'; font-size: 18px; line-height: 1; position: absolute; right: 0; text-rendering: auto; top: 4px; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.facetwp-checkbox.checked:before { content: '\f14a'; }

.facetwp-checkbox.country { display: none; }

.continent-visible .facetwp-checkbox.country { margin-right: 20px; }

.facetwp-checkbox.country.continent-checked { display: block; }

.facetwp-checkbox.region { margin-right: 20px; display: none; }

.continent-visible .facetwp-checkbox.region { margin-right: 40px; }

.facetwp-checkbox.region.country-checked { display: block; }

.facetwp-overflow { margin-top: 5px; }

.facetwp-loading { display: block; }

.facetwp-loading:before { animation: fa-spin 2s infinite linear; content: '\f110'; color: inherit; display: inline-block; font-family: 'FontAwesome'; font-size: 16px; line-height: 1; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.facetwp-results-clear-btn { margin-top: 10px; }

.facetwp-slider-reset { margin-top: 10px; }

@media (max-width: 767px) { .facetwp-filters-wrap { background-color: #F6F6F6; } }

.archive-tour-operator.archive .facetwp-sidebar.widget-area .facetwp-type-slider .noUi-connect { background: #1098AD; }

.facetwp-type-alpha .facetwp-alpha { color: #DADDDF; }

.facetwp-type-alpha .facetwp-alpha.available { color: #1098AD; }

.facetwp-type-alpha .facetwp-alpha.available:hover { color: #F7AE00; }

.facetwp-sort-select, .facetwp-per-page-select { background-image: url("data:image/svg+xml;utf8,<svg fill='#919191' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>"); border-color: #DADDDF; color: #919191; background-color: white; text-align-last: center; }

.archive.archive-tour-operator .facetwp-sidebar.widget-area .facetwp-item .facetwp-collapsed button.facetwp-collapse:before, .search-results.archive-tour-operator .facetwp-sidebar.widget-area .facetwp-item .facetwp-collapsed button.facetwp-collapse:before, .search-no-results.archive-tour-operator .facetwp-sidebar.widget-area .facetwp-item .facetwp-collapsed button.facetwp-collapse:before { color: #1098AD; }

.archive.archive-tour-operator .facetwp-sidebar.widget-area .facetwp-item .facetwp-collapsed button.facetwp-collapse:hover:before, .search-results.archive-tour-operator .facetwp-sidebar.widget-area .facetwp-item .facetwp-collapsed button.facetwp-collapse:hover:before, .search-no-results.archive-tour-operator .facetwp-sidebar.widget-area .facetwp-item .facetwp-collapsed button.facetwp-collapse:hover:before { color: #F7AE00; }

.facetwp-template .nav.nav-tabs { background-color: #374750; }

.facetwp-template .nav.nav-tabs > li > a { color: #FFF; }

.facetwp-template .nav.nav-tabs > li > a:hover { color: #1098AD; }

.facetwp-template .nav.nav-tabs > li.active > a { background-color: #1098AD; color: #FFF; }

.facetwp-template .nav.nav-tabs > li.active > a:hover { background-color: #1098AD; color: #FFF; }

/* New style */
#secondary.facetwp-sidebar { padding: 0px 15px 15px 15px; }

@media (max-width: 767px) { #secondary.facetwp-sidebar { margin-top: 4.25rem; margin-bottom: 2.4rem; } }

#secondary.facetwp-sidebar .facetwp-filter-title { background: rgba(106, 131, 144, 0.29); border-radius: 0; padding: 20px 12px; margin-bottom: 3px; text-align: right; }

@media (max-width: 768px) { #secondary.facetwp-sidebar .facetwp-filter-title { display: none; } }

#secondary.facetwp-sidebar > .container-search .facetwp-item { background-color: transparent; padding: 0; margin-bottom: 0; }

#secondary.facetwp-sidebar > .container-search .facetwp-item .facetwp-facet { margin-top: 0; }

#secondary.facetwp-sidebar > .container-search .facetwp-form { margin-bottom: 25px; }

@media (max-width: 767px) { #secondary.facetwp-sidebar > .container-search { display: none; } }

@media (min-width: 768px) { #secondary.facetwp-sidebar .facetwp-item.facetwp-form { padding: 0px; } }

#secondary.facetwp-sidebar .facetwp-item.facetwp-form .search-form .input-group .field:first-child { width: 88%; }

#secondary.facetwp-sidebar .facetwp-item.facetwp-form .search-form .input-group .field:nth-child(2) { width: 10%; }

@media (max-width: 768px) { #secondary.facetwp-sidebar .facetwp-item.facetwp-form .search-form .search-field { width: 100%; } }

#secondary.facetwp-sidebar .facetwp-item.no-continent-visible .facetwp-type-search { margin: 0 -15px; }

#secondary.facetwp-sidebar .facetwp-item.no-continent-visible .facetwp-type-search .input-group.facetwp-search-wrap { width: 90%; display: -ms-flexbox; display: flex; margin: 0 auto; }

#secondary.facetwp-sidebar .facetwp-item.no-continent-visible .facetwp-type-search .input-group .field:first-child { width: 78%; }

body:not(.search-no-results) #facetwp-top, body:not(.search-no-results) #facetwp-bottom > .row { background-color: transparent; border: none; }

body:not(.search-no-results) .lsx-to-search-title.lsx-to-search-title-results { display: -ms-flexbox; display: flex; margin-bottom: 0; }

body:not(.search-no-results) .facetwp-sidebar { background-color: transparent; border: none; }

body:not(.search-no-results) #facetwp-top { margin-bottom: 25px; }

body:not(.search-no-results) #facetwp-top, body:not(.search-no-results) #facetwp-bottom > .row { padding: 0; margin-right: 0; margin-left: 0; min-height: 40px; }

@media (max-width: 767px) { body:not(.search-no-results) #facetwp-top, body:not(.search-no-results) #facetwp-bottom > .row { margin-right: 0; margin-left: 0; } }

body:not(.search-no-results) #facetwp-top .row > .col-xs-12, body:not(.search-no-results) #facetwp-bottom > .row .row > .col-xs-12 { display: -ms-flexbox; display: flex; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-align: center; align-items: center; padding: 0 7px 0 0; }

body:not(.search-no-results) #facetwp-top .row > .col-xs-12 .facetwp-sort, body:not(.search-no-results) #facetwp-bottom > .row .row > .col-xs-12 .facetwp-sort { position: relative; left: 18px; }

body:not(.search-no-results) #facetwp-top .row > .col-xs-12 .container-results, body:not(.search-no-results) #facetwp-bottom > .row .row > .col-xs-12 .container-results { -ms-flex-positive: 12; flex-grow: 12; }

body:not(.search-no-results) #facetwp-top .row > .col-xs-12 .container-results + .facetwp-sort, body:not(.search-no-results) #facetwp-bottom > .row .row > .col-xs-12 .container-results + .facetwp-sort { -ms-flex-positive: 1; flex-grow: 1; left: 0; }

body:not(.search-no-results) #facetwp-top .row > .col-xs-12 .container-results + .facetwp-sort + .nav.nav-tabs, body:not(.search-no-results) #facetwp-bottom > .row .row > .col-xs-12 .container-results + .facetwp-sort + .nav.nav-tabs { -ms-flex-positive: 1; flex-grow: 1; }

body:not(.search-no-results) #facetwp-top .row > .col-xs-12 .facetwp-sort, body:not(.search-no-results) #facetwp-top .row > .col-xs-12 .nav.nav-tabs, body:not(.search-no-results) #facetwp-bottom > .row .row > .col-xs-12 .facetwp-sort, body:not(.search-no-results) #facetwp-bottom > .row .row > .col-xs-12 .nav.nav-tabs { display: -ms-flexbox; display: flex; -ms-flex-pack: end; justify-content: flex-end; }

body:not(.search-no-results) #facetwp-top .row > .col-xs-12 .nav.nav-tabs, body:not(.search-no-results) #facetwp-bottom > .row .row > .col-xs-12 .nav.nav-tabs { margin: -9px; height: 50px; border: none; }

body:not(.search-no-results) #facetwp-top .row > .col-xs-12 .nav.nav-tabs > li > a, body:not(.search-no-results) #facetwp-bottom > .row .row > .col-xs-12 .nav.nav-tabs > li > a { height: 50px; width: 50px; border-radius: 2px; border: none; padding: 15px; background-color: #374750; color: white; font-size: 0; text-align: center; }

body:not(.search-no-results) #facetwp-top .row > .col-xs-12 .nav.nav-tabs > li > a:before, body:not(.search-no-results) #facetwp-bottom > .row .row > .col-xs-12 .nav.nav-tabs > li > a:before { content: ""; font-family: 'FontAwesome'; font-size: 15px; }

body:not(.search-no-results) #facetwp-top .row > .col-xs-12 .nav.nav-tabs > li.active > a, body:not(.search-no-results) #facetwp-top .row > .col-xs-12 .nav.nav-tabs > li:hover > a, body:not(.search-no-results) #facetwp-bottom > .row .row > .col-xs-12 .nav.nav-tabs > li.active > a, body:not(.search-no-results) #facetwp-bottom > .row .row > .col-xs-12 .nav.nav-tabs > li:hover > a { background-color: rgba(106, 131, 144, 0.64); }

body:not(.search-no-results) #facetwp-top .row > .col-xs-12 .nav.nav-tabs > li.to-list-toggle a:before, body:not(.search-no-results) #facetwp-bottom > .row .row > .col-xs-12 .nav.nav-tabs > li.to-list-toggle a:before { content: '\f03a'; }

body:not(.search-no-results) #facetwp-top .row > .col-xs-12 .nav.nav-tabs > li.to-map-toggle a:before, body:not(.search-no-results) #facetwp-bottom > .row .row > .col-xs-12 .nav.nav-tabs > li.to-map-toggle a:before { content: '\f0ac'; }

body:not(.search-no-results) #facetwp-top .row > .col-xs-12 .facetwp-pager, body:not(.search-no-results) #facetwp-bottom > .row .row > .col-xs-12 .facetwp-pager { -ms-flex-positive: 2; flex-grow: 2; display: -ms-flexbox; display: flex; -ms-flex-pack: end; justify-content: flex-end; }

body:not(.search-no-results) #facetwp-bottom .col-xs-12 { padding: 0; }

.search-no-results #facetwp-top, .search-no-results .facetwp-sidebar { background-color: transparent; border: none; }

.search-no-results #facetwp-top, .search-no-results #facetwp-bottom { display: none; }

.search-no-results .facetwp-template { margin-top: 0; background-color: #ffffff; border: 1px solid #E4E4E4; display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; min-height: 300px; -ms-flex-pack: center; justify-content: center; }

@media (max-width: 767px) { #facetwp-top, .to-search-form, .lsx-search-form { display: none; }
  .container-search-mobile .to-search-form { display: inline; }
  .container-search-mobile .facetwp-form { padding-left: 15px; padding-right: 15px; }
  .container-facets .filter-mobile { display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; }
  .lsx-pagination-wrapper.facetwp-custom { margin-top: 0; }
  .logged-in .facetwp-item.facetwp-filters-wrap { padding-top: 10rem; }
  .logged-in .facetwp-item-wrap > .ssm-row-margin-bottom:first-child { margin-top: 12.4rem; }
  .facetwp-sort, .facetwp-per-page { display: -ms-flexbox; display: flex; }
  .facetwp-sort-select, .facetwp-per-page-select { width: 100%; margin-bottom: 1em; min-width: 100%; } }
