/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

#search-block.wp-block-to-search-to-search-block  {
    width: 100%;
	max-width: 1150px;
    margin-left: auto;
	margin-right: auto;
	.search-form.to-search-form {
		@media (max-width: 767px) {
			display: initial;
		}
	}
}
