/*
 * TO Search
 */

@import 'include-media';
@import 'customizer-to-search-body-colours';
@import 'customizer-to-search-main-menu-colours';

.to-search-form {
	.input-group {
		width: 90%;
	}
	.field {
		display: inline-block;
		float: left;
		margin-left: 0;
		margin-top: 10px;

		@include media('>=phone') {
			margin-left: 10px;
			margin-top: 0;

			&:first-child { margin-left: 0; }
		}

		&.combination-toggle.hidden { display: none; }

		.search-field {
			border-radius: 2px 0 0 2px;
			float: none;
			padding: 8px 14px 10px;
			width: 230px;

			@include media('>=phone') { width: 400px; }

			&.error { border-color: red; }
		}

		.btn {
			@include media('<phone') {
				padding: {
					left: 20px;
					right: 20px;
				}

				.fa { display: none; }
			}
		}

		.btn-dropdown {
			@include media('<phone') { min-width: 230px; }
		}

		&.submit-button:nth-child(2) {
			margin-left: 0;

			.btn {
				margin-left: -3px;

				@include media('<phone') { padding-right: 17px; }
			}
		}

		&.submit-button:not(:nth-child(2)) {
			.btn {
				@include media('<phone') { min-width: 228px; }
			}
		}
	}

	body.home .page-banner & {
		.input-group { margin: 0 auto; }
	}
}

.archive.archive-tour-operator,
.search-results.archive-tour-operator,
.search-no-results.archive-tour-operator {
	.facetwp-sidebar.widget-area {
		.facetwp-item {
			//margin-top: 4.25rem;

			&:first-child { margin-top: 0; }
		}

		.facetwp-facet { margin-bottom: 0; }

		.lsx-to-search-title {
			text-align: left;

			@include media('>=phone') { margin-top: 1.3rem; }

			.facetwp-counts { display: inline-block; }
		}

		.facetwp-results {
			.lsx-to-search-title { margin-bottom: 0; }
		}

		.facetwp-results {
			.input-group-btn { vertical-align: top; }
		}

		.facetwp-type-slider {
			.noUi-connect { box-shadow: none; }

			.noUi-target {
				background-color: #FFF;
				border-radius: 2px;
				box-shadow: none;
				padding: 0 15px;
			}
		}

		.facetwp-form {
			.search-field {
				width: 190px;
				height: 60px;
				border-width: 1px;
				@include media('>=phone') {
					min-width: 120px;
					width: 100%;
				}

				@include media('>=desktop') {
					min-width: 170px;
					width: 100%;
				}
			}

			.btn.search-submit {
				padding-left: 20px;
				padding-right: 17px;
				height: 58px;
			}
		}
	}
}

.lsx-pagination-wrapper.facetwp-custom {
	margin-top: 2.4rem;

	@include media('>=phone') { margin-top: 0; }

	.facetwp-page {
		margin: 0;
		padding: 0;
	}
}

.facetwp-type-alpha {
	&.facetwp-type-alpha {
		margin-bottom: 0;

		@include media('>=desktop') { line-height: 40px; }
	}

	.facetwp-alpha {
		margin-right: 0;

		&.available { transition: color 300ms ease; }

		& + .facetwp-alpha { margin-left: 5px; }
	}
}

.facetwp-top-row-2 { margin-top: 12px; }

.facetwp-bottom-row-1 { margin-top: 4.25rem; }

.facetwp-sort,
.facetwp-per-page {
	@include media('>=phone') { float: left; }
}

.facetwp-pager {
	@include media('>=phone') { float: right; }
}

.facetwp-sort {
	& + .facetwp-per-page { margin-left: 10px; }
}

.facetwp-sort-select,
.facetwp-per-page-select {
	appearance: none;
	background: transparent;
  	background-repeat: no-repeat;
  	background-position-x: 100%;
  	background-position-y: 50%;
  	border-style: solid;
  	border-width: 1px;
	box-shadow: none;
	display: inline-block;
	font-size: 14px;
	line-height: 1.25;
	min-width: 120px;
    height: 37px;
    padding: 0 10px;
    transition: all 150ms ease;
    width: auto;
}

.facetwp-template {
	.lsx-to-archive-header { margin-top: 4.25rem; }
	.row {
		margin-top: 0 !important;

		.lsx-to-archive-item {
			&:first-child {
				margin-top: 0 !important;
			}
		}
		&.lsx-to-archive-template-grid {
			.lsx-to-archive-item {
				&:nth-child(2), &:nth-child(3) {
					margin-top: 0 !important;
				}
			}
		}
	}

	> .no-results {
		margin-top: 4rem;
	}
	.nav.nav-tabs {
		align-items: center;
		border: 0 none;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		margin: 4.25rem 0;
		padding: 0;

		@include media('>=phone') { justify-content: flex-start; }

		& > li {
			float: none;
			margin-bottom: 0;
			width: 100%;

			@include media('>=phone') { width: auto; }

			& > a {
				background-color: transparent;
				border: 0 none;
				border-radius: 0;
				margin: 0;
				line-height: 50px;
				padding: 0;
				text-align: center;
				text-transform: uppercase;

				@include media('>=phone') { padding: 0 50px; }

				&:hover,
				&:focus { border: 0 none; }
			}
		}
	}
}

.facetwp-filters-wrap {
	@include media('<phone') {
		height: 100%;
		left: 0;
		margin: 0 !important;
		padding: 15px;
		position: fixed !important;
		overflow-x: visible;
		overflow-y: auto;
		top: 0;
		transform: translate(-100%, 0);
		z-index: 7;
	}
}

.ssm-overlay {
	background-color: rgba(0, 0, 0, 0.2);
	bottom: 0;
	display: none;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 5;
}

.ssm-nav-is-open {
	overflow: hidden;

	#secondary { z-index: 9999; }
}

.ssm-row-margin-bottom { margin-bottom: 4.25rem; }

.ssm-row-margin-top { margin-top: 4.25rem; }

.facetwp-slider-wrap { padding-bottom: 2.4rem; }

.facetwp-slider-label { font-size: 18px; }

.facetwp-hidden { display: none; }

.facetwp-toggle { cursor: pointer; }

.facetwp-checkbox {
	cursor: pointer;
	padding-left: 25px;
	position: relative;

	& + & { margin-top: 5px; }

	&:before {
		content: '\f096';
		color: inherit;
		display: inline-block;
		font-family: 'FontAwesome';
		font-size: 18px;
		line-height: 1;
		position: absolute;
		left: 0;
		text-rendering: auto;
		top: 4px;

		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	&.checked {
		&:before { content: '\f14a'; }
	}

	&.country {
		display:none;

		.continent-visible & { margin-left: 20px; }
		&.continent-checked { display: block; }
	}

	&.region {
		margin-left: 20px;
		display:none;

		.continent-visible & { margin-left: 40px; }
		&.country-checked { display: block; }
	}
}

.facetwp-overflow { margin-top: 5px; }

.facetwp-loading {
	display: block;

	&:before {
		animation: fa-spin 2s infinite linear;
		content: '\f110';
		color: inherit;
		display: inline-block;
		font-family: 'FontAwesome';
		font-size: 16px;
		line-height: 1;
		text-rendering: auto;

		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}

.facetwp-results-clear-btn { margin-top: 10px; }
.facetwp-slider-reset { margin-top: 10px; }

@include customizer-to-search-body-colours(#F6F6F6, #DADDDF, #4A4A4A, #1098AD, #F7AE00, #919191);
@include customizer-to-search-main-menu-colours(#1098AD, #374750, #FFF);

/* New style */

#secondary.facetwp-sidebar {
	padding: 0px 15px 15px 15px;

	@media (min-width: 768px) {
		&>.row:nth-child(2), &>.row:nth-child(3) {
			background: #FFFFFF;
			border-radius: 3px 3px 3px 3px;
			border-left: 1px solid #EDEBEB;
			border-right: 1px solid #EDEBEB;
		}
	}


	&>.row:nth-child(2) {
		margin-top: 25px;
		border-top: 1px solid #EDEBEB;
	}

	&>.row:nth-child(3) {
		border-bottom: 1px solid #EDEBEB;
		padding-bottom: 25px;
	}

	.facetwp-item {
		&.facetwp-form {
			padding:0px;

			.search-form {
				.input-group {
					.field:first-child	{
						width: 90%;
					}
					.field:nth-child(2) {
						width:10%;
					}
				}
			}
		}

		&.no-continent-visible {
			.facetwp-type-search {
				margin: 0 -15px;
				.input-group.facetwp-search-wrap {
					width: 90%;
					display: flex;
				}
			}
			// @media (max-width:767px) {
			// 	display: none;
			// }
		}

	}
}

body:not(.search-no-results) {
	#facetwp-top, #facetwp-bottom>.row {
		background-color: #ffffff;
		border: 1px solid #E4E4E4;
	}
	.lsx-to-search-title.lsx-to-search-title-results {
		border-bottom: 1px solid #dddddd;
		padding-bottom: 15px;
	}
	.facetwp-sidebar {
		background-color: transparent;
		border: none;
	}

	#facetwp-top {
		margin-bottom: 25px;
	}

	#facetwp-top, #facetwp-bottom>.row {
		padding: 9px;
		margin-left: 0;
		margin-right: 0;
		@media (max-width: 767px) {
			margin-left: 0;
			margin-right: 0;
		}
		.row >.col-xs-12 {
			display: flex;
			justify-content: space-between;
			align-items: center;
			.nav.nav-tabs {
				margin: -9px;
				height: 60px;
				border: none;
				> li {
					> a {
						height: 60px;
						border: none;
						border-radius: 0;
						padding: 15px;
					}
				}
			}
			.facetwp-pager {
				flex-grow: 2;
				display: flex;
				justify-content: flex-end;
			}
		}
	}
	#facetwp-bottom {
		.col-xs-12 {
			padding: 0;
		}
	}
}

.search-no-results {
	#facetwp-top, .facetwp-sidebar {
		background-color: transparent;
		border: none;
	}
	#facetwp-top, #facetwp-bottom {
		display: none;
	}
	.facetwp-template {
		margin-top: 0;
		background-color: #ffffff;
		border: 1px solid #E4E4E4;
		display: flex;
    	flex-direction: column;
		min-height: 300px;
		justify-content: center;
	}
}

@media (max-width: 767px) {
	#facetwp-top, .to-search-form, .lsx-search-form {
		display: none;
	}
	.lsx-pagination-wrapper.facetwp-custom {
		margin-top: 0;
	}
	.logged-in {
		.facetwp-item.facetwp-filters-wrap {
			padding-top: 10rem;
		}
	}
	.facetwp-sort-select, .facetwp-per-page-select {
		width: 96%;
		margin-bottom: 1em;
	}
}

@media (min-width: 768px) {
	.search, .archive {
		#primary.content-area.col-sm-8 {
			width: 66.66667%;
		}
	}
}
